[submodule "itsalocke"]
	path = itsalocke
	url = https://github.com/lockedatapublished/itsalocke.git
[submodule "blog"]
	path = blog
	url = https://github.com/lockedatapublished/blog.git
[submodule "talks"]
	path = talks
	url = https://github.com/lockedatapublished/talks.git
[submodule "pRojects"]
	path = pRojects
	url = https://github.com/lockedata/pRojects.git
[submodule "optiRum"]
	path = optiRum
	url = https://github.com/stephlocke/optiRum.git
[submodule "datasauRus"]
	path = datasauRus
	url = https://github.com/stephlocke/datasauRus.git
[submodule "HIBPwned"]
	path = HIBPwned
	url = https://github.com/lockedata/HIBPwned.git
[submodule "news"]
	path = news
	url = https://github.com/lockedatapublished/news.git
[submodule "pres-datascience"]
	path = pres-datascience
	url = https://github.com/lockedata/pres-datascience.git
[submodule "revealjs"] 
  path = revealjs 
  url = https://github.com/lockedata/reveal.js.git 
[submodule "pres-r"]
	path = pres-r
	url = https://github.com/lockedata/pres-r.git
[submodule "pres-azure"]
	path = pres-azure
	url = https://github.com/lockedata/pres-azure.git
[submodule "pres-datawrangling"]
	path = pres-datawrangling
	url = https://github.com/lockedata/pres-datawrangling.git
