[build]
  publish = "public"
  command = "./build.sh"

[context.production.environment]
  HUGO_VERSION = "0.26"
  HUGO_ENV = "production"
  HUGO_ENABLEGITINFO = "true"

[context.deploy-preview.environment]
  HUGO_VERSION = "0.26"

[context.branch-deploy.environment]
  HUGO_VERSION = "0.26"